<!DOCTYPE html>
<html layout:decorate="~{common/layout}">


<div layout:fragment="content" class="container my-3">
    <div class="main-container">
          <div style="display:none"  th:text="${@rq.user.id}" id="userIdText"></div>
            <div> 회원정보 수정</div>


        <form th:action="@{/user/update}" id="updateForm" onsubmit="return false;" >


            <div class="mb-3">
                <label for="" class="form-label">이름</label>
                <input type="text" th:value="${@rq.user.userName}" name="userName" class="form-control">
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">이메일</label>
                <input type="email" th:value="${@rq.user.email}" name="email" class="form-control">
            </div>
            <button style="font-size:30px;" type="button" class="btn btn-primary" onclick="updateUser();">정보 수정</button>
        </form>
    </div>
</div>



</html>

<style>

    .main-container {
      width:300px; margin-left:auto; margin-right: auto;


</style>


<script >
    function updateUser() {

    <!--// 1. 필드 유효성 검사-->
    const form = document.getElementById('updateForm');
    let userId=$('#userIdText').text();
    <!--validationMemberInfo(form);-->
    <!--console.log(form);-->
    console.log(userId+"!!!!!!!!!!");

    // 2. 파라미터 세팅
    const params = {}
    new FormData(form).forEach((value, key) => params[key] = value.trim());

    console.log(params);
    // 3. Save API 호출
    callApi('/user/information/'+userId, 'patch', params);
    alert('회원 정보가 업데이트 되었습니다!');

    }
</script>

<script th:src="@{/js/function.js}"></script>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
