<!DOCTYPE html>
<html layout:decorate="~{common/layout}">
<div layout:fragment="content" class="container my-3">
    <div class="main-container">
        <div th:if="${@rq.subscribe != null}">
            <div>


                <div id="commentsContainer">


                </div>
            </div>
        </div>
    </div>

</div>

</html>

<style>

    .main-container {
      width:400px; margin-left:auto; margin-right: auto;

     }

     .comment > div {
      margin-bottom:30px;

   }



</style>


<script th:src="@{/js/function.js}"></script>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script src="https://kit.fontawesome.com/79613ae794.js" crossorigin="anonymous"></script>


<script>


</script>
<script >


     let subscribeList= {};
     subscribeList=getJson("/currentSubscribe",null);
    console.log(subscribeList+"!!!!!!!!!!!!!!!!");
    function displayComments(list) {
        const commentsContainer = document.getElementById('commentsContainer');


            commentsContainer.innerHTML += `
                <div class="comment">
                        <div>서비스 등급 : ${list.rank}</div>
                        <div>남은 기간 : ${list.period}달</div>
                        <div>사용 인원 : ${list.headCount}명</div>
                        <div>회사 이름 : ${list.office}</div>
                        <div>이용 가능한 용량 : ${list.storageSize}TB</div>
                </div>
            `;

    }

    displayComments(getJson("/currentSubscribe",null));




</script>