<!DOCTYPE html>
<html layout:decorate="~{common/layout}">
<div layout:fragment="content" class="container my-3">
<!--  ?. 는 alert 이 null 이면 false 로 인식 아예 div 가 렌더링 되지 않게 해준다 -->
  <div th:if="${alert?.kind != null}" id="alertKind" th:attr="data-alert-kind=${alert.kind}"></div>

  <div class="main-container">
      <div>

        <p style="text-align:center; font-size:50px;">ARCHIVIST</p>
        <p style="text-align:center; font-size:50px;">ARMS for SaaS</p>
        <p style="text-align:center; margin-top:20px;">아키비스트 I 클라우드 기반 차세대 기록관리 시스템</p>


      </div>

  </div>

</div>

</html>
<style>
    .main {
            margin-top:200px;
    }



  .main-container {
    width:700px; margin-left:auto; margin-right: auto;


</style>
<script>
  document.addEventListener("DOMContentLoaded", function () {
      var alertKindElement = document.getElementById('alertKind');
      var alertKindValue = alertKindElement.getAttribute('data-alert-kind');

        console.log(alertKind+"!!!!!!");
      if (alertKindValue === 'updatePeriod') {
          // alert 창을 띄우는 코드
          alert('구독이 연장되었습니다.! 감사합니다!!');
      }else if(alertKindValue === 'createSubscribe' ) {
       alert('구독 신청이 완료되었습니다. !! 감사합니다!!')
      }

  });
</script>