<!DOCTYPE html>
<html layout:decorate="~{common/layout}">
<div layout:fragment="content" class="container my-3">
   <div class="main-container">

      <div id="commentsContainer">


      </div>


      <a th:href="@{/user/changeInfor}"><button style="font-size:30px;" class="btn btn-primary">회원정보 수정하기</button></a>
<!--      <div>비밀번호 변경하기</div>-->
   </div>

</div>

</html>

<style>

   .main-container {
     width:400px; margin-left:auto; margin-right: auto;

   .comment > div {
      margin-bottom:30px;

   }

</style>

<script th:src="@{/js/function.js}"></script>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script src="https://kit.fontawesome.com/79613ae794.js" crossorigin="anonymous"></script>

<script>

   function displayComments(list) {
         const commentsContainer = document.getElementById('commentsContainer');
         const goodDate = list.createDate.substring(0, 10);


             commentsContainer.innerHTML += `
                 <div class="comment">
                         <div>이름 : ${list.userName}</div>
                         <div>이메일 : ${list.email}</div>
                         <div>회원 가입 날짜 : ${goodDate}</div>


                 </div>
             `;

     }

     displayComments(getJson("/user/information",null));




</script>