<!DOCTYPE html>
<html layout:decorate="~{common/layout}">
<div layout:fragment="content" class="container my-3">
   <div class="main-container">
      <div th:if="${@rq.subscribe != null}">
         <div>
         <span th:text="${@rq.user.userName}"></span>
         <span>님의 서비스 이용기간은</span>
         <span th:text="${@rq.subscribe.period}"></span><span>달 남았습니다.</span>
         </div>
     </div>
      <a th:href="@{/user/changeInfor}">회원정보 수정하기</a>
<!--      <div>비밀번호 변경하기</div>-->
   </div>

</div>

</html>

<style>

   .main-container {
     width:400px; margin-left:auto; margin-right: auto;


</style>