<!DOCTYPE html>
<html layout:decorate="~{common/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>구독 신청 페이지</title>
    <link rel="stylesheet" th:href="@{/css/subscribe.css}" />
    <link rel="stylesheet" th:href="@{/css/default.css}" />
<!--    <link rel="stylesheet" th:href="@{/css/common.css}" />-->
<!--    <link rel="stylesheet" th:href="@{/css/content.css}" />-->
<!--    <link rel="stylesheet" th:href="@{/css/button.css}" />-->


</head>

<body>
<div  layout:fragment="content" class="container my-3">

    <div class="main-container">

        <h2 style="margin-bottom:10px; font-size:20px">필수 정보들</h2>
    <!--th:action="@{/payment/ready}"-->
        <form  id="signupForm" th:action="@{/payment/ready}"  method="post">
            <!-- Required Information -->
            <label for="headCount">총 사용 인원 (명)</label>
            <input type="number" id="headCount" name="headCount" required>

            <label for="rank">서비스 등급</label>
            <select id="rank" name="rank" required>
                <option value="Basic">Basic</option>
                <option value="Standard">Standard</option>
                <option value="Premium">Premium</option>
            </select>

            <label for="storageSize">서비스 용량 (TB)</label>
            <input type="number" id="storageSize" name="storageSize" required>

            <label for="period">구독 기간 (달)</label>
            <input type="number" id="period" name="period" required>

            <!-- Additional Information -->
            <h3 style="margin-top:20px; margin-bottom:10px; font-size:20px;">부가 정보들</h3>

            <label for="office">회사 이름:</label>
            <input type="text" id="office" name="office">

            <label for="phoneNumber">전화 번호:</label>
            <input type="tel" id="phoneNumber" name="phoneNumber">


            <!-- Submit Button -->
            <button style="display:block; margin-top:20px; margin-left:auto; margin-right:auto;" type="submit" class="btns btn_bdr2 " >구독 신청</button>
        </form>
    </div>
</div>
</body>

</html>

<style>

    .main-container {
      width:300px; margin-left:auto; margin-right: auto;


</style>

<script>
    function updatePeriod() {
<!--        let userId=$('#userIdText').text();-->

    // 1. 필드 유효성 검사
    const form = document.getElementById('signupForm');
    <!--validationMemberInfo(form);-->
    console.log(form);


    // 2. 파라미터 세팅
    const params = {}
    new FormData(form).forEach((value, key) => params[key] = value.trim());

    console.log(params);
    // 3. Save API 호출
    callApi('/payment/ready', 'POST', params);
    alert('구독기간이 연장되었습니다!');
    closeSignupPopup();
    }

</script>

<script th:src="@{/js/function.js}"></script>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script src="https://kit.fontawesome.com/79613ae794.js" crossorigin="anonymous"></script>
