<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.rm.subscribe.SubscribeMapper">
    <sql id="subscribeColumns">
        id
        , siteUserId
        , storageSize
        , period
        , headCount
        , rank
        , office
        , phoneNumber
        , createDate
        , updateDate
    </sql>

    <insert id="save" parameterType="com.rm.subscribe.SubscribeRequest" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO subscribe (
        <include refid="subscribeColumns" />
        ) VALUES (
        #{id}
        , #{siteUserId}
        , #{storageSize}
        , #{period}
        , #{headCount}
        , #{rank}
        , #{office}
        , #{phoneNumber}
        , NOW()
        , NULL
        )

    </insert>


    <select id="getSubscribeByUserId" parameterType="Long"  resultType="com.rm.subscribe.SubscribeResponse">
        SELECT
        <include refid="subscribeColumns"/>
        FROM subscribe

        WHERE
        siteUserID=#{value}

    </select>

    <select id="countSubscribeByUserId" parameterType="Long" resultType="int">
        SELECT
        COUNT(*)
        FROM
        subscribe
        WHERE

        siteUserID = #{value}

    </select>

    <update id="updatePeriod" parameterType="com.rm.subscribe.SubscribeRequest" >
        UPDATE subscribe
        SET
        updateDate = NOW()
        , period = #{period}

        WHERE
        siteUserID = #{id}
    </update>

    <delete id="removeSubscribe" parameterType="Long" >
        DELETE
        From
        subscribe

        WHERE
        siteUserID=#{id}

    </delete>


</mapper>