<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.rm.user.UserMapper">
    <sql id="siteUserColumns">
        id
        , userId
        , userPw
        , email

    </sql>


    <resultMap id="UserResultMap" type="com.rm.user.SiteUser">
        <id property="id" column="userId"/>
        <result property="username" column="userName"/>
        <result property="password" column="userPw"/>
    </resultMap>

    <select id="getUserByUsernameAndPassword" resultType="com.rm.user.SiteUser">
        SELECT * FROM siteUser WHERE username = #{username} AND password = #{password}
    </select>
    <select id="getUser" resultMap="UserResultMap">
        SELECT * FROM siteUser
    </select>

    <insert id="save" parameterType="com.rm.user.SiteUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO siteUser (
        <include refid="siteUserColumns" />
        ) VALUES (
          #{id}
        , #{userId}
        , #{password}
        , #{email}
        )

    </insert>

</mapper>