<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.rm.user.UserMapper">
    <sql id="siteUserColumns">
          id
        , userID
        , userPw
        , userName
        , email
        , ticket
        , createDate
        , updateDate
    </sql>


    <resultMap id="UserResultMap" type="com.rm.user.SiteUserRequest">
        <id property="id" column="userID"/>
        <result property="userName" column="userName"/>
        <result property="userPw" column="userPw"/>
    </resultMap>


    <select id="getUser" resultMap="UserResultMap">
        SELECT * FROM siteUser
    </select>

    <insert id="save" parameterType="com.rm.user.SiteUserRequest" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO siteUser (
        <include refid="siteUserColumns" />
        ) VALUES (
          #{id}
        , #{userID}
        , #{userPw}
        , #{userName}
        , #{email}
        , 1
        , Now()
        , NULL
        )

    </insert>

    <!-- 회원 정보 수정 -->
    <update id="update" parameterType="com.rm.user.SiteUserRequest">
        UPDATE siteUser
        SET
        updateDate = NOW()
        , userName = #{userName}
        , email = #{email}

<!--        <if test="password != null and password != ''">-->
<!--            , password = #{password}-->
<!--        </if>-->
        WHERE
        id = #{id}
    </update>


    <select id="getByUserID" parameterType="String" resultType="com.rm.user.SiteUserResponse">
        SELECT
            <include refid="siteUserColumns"/>
        FROM siteUser

        WHERE
            ticket = 1
            AND userID = #{value}


    </select>

    <select id="getSiteUserByUserID" parameterType="String" resultType="int">
        SELECT
            COUNT(*)
        FROM
            siteUser
        WHERE

           userID = #{value}



    </select>

</mapper>