<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.rm.user.UserMapper">
    <sql id="siteUserColumns">
          id
        , loginID
        , userPw
        , userName
        , email
        , ticket
        , createDate
        , updateDate
    </sql>





    <insert id="save" parameterType="com.rm.user.SiteUserRequest" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO siteUser (
        <include refid="siteUserColumns" />
        ) VALUES (
          #{id}
        , #{loginID}
        , #{userPw}
        , #{userName}
        , #{email}
        , 1
        , Now()
        , NULL
        )

    </insert>

    <!-- 회원 정보 수정 -->
    <update id="update" parameterType="com.rm.user.SiteUserRequest">
        UPDATE siteUser
        SET
        updateDate = NOW()
        , userName = #{userName}
        , email = #{email}

<!--        <if test="password != null and password != ''">-->
<!--            , password = #{password}-->
<!--        </if>-->
        WHERE
        id = #{id}
    </update>


    <select id="getByLoginID" parameterType="String" resultType="com.rm.user.SiteUserResponse">
        SELECT
            <include refid="siteUserColumns"/>
        FROM siteUser

        WHERE
            ticket = 1
            AND loginID = #{value}


    </select>

    <select id="getSiteUserByLoginID" parameterType="String" resultType="int">
        SELECT
            COUNT(*)
        FROM
            siteUser
        WHERE

        loginID = #{value}



    </select>

</mapper>